:root {
    --primary-color: #A1BE95; /*#E74C3C #425365*/ 
    --secondary-color: #F98866;
    --text-color: #27AE60;
    --background-color: #F4F6F7;
    --hover-color: #1565c0;
    --border-color: #ddd;
    --favorite-color: #e74c3c; /* Red for favorite icon */
}

.home-container {
    padding: 0px;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.home-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px 20px;
    background-color: #29398e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    width: 100%;
    height: 30px;
    max-width: none;
}

.home-header2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    background-color: rgb(228, 228, 228);
    width: 100%;
    max-width: max-content;
    
}

.home-header button {
    margin-left: 10px;
}

.categories-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 0px;
}

.category-item {
    background: var(--primary-color);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    height: 32px;
    background-color: #ffffff;
    
}

.category-item:hover {
    transform: scale(0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category-image {
    margin-top: 7px;
    margin-right: 5px; ;
    width: 50px;
    height: 45px;
    object-fit: cover;
    border-radius: 4%;
    margin-bottom: 5px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 80%;
    max-width: 1200px;
    margin-bottom: 20px;
}

.product-item {
    background: white;
    border-radius: 15px;
    border: 2px solid var(--border-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.product-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image-container {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image {
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
    border-radius: 10px;
}

/* Advertisement Container */
.advertisement-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.advertisement-image {
    width: 100%;
    height: 380px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.advertisement-image:hover {
    transform: scale(1.01); /* Slightly enlarges the image on hover */
}


.product-info {
    padding: 10px;
}

.product-title {
    margin: 0;
    color: var(--text-color);
}

.product-price-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
}

.add-cart-icon {
    font-size: 24px;
    color: var(--primary-color);
    cursor: pointer;
    transition: color 0.3s;
}

.add-cart-icon:hover {
    color: var(--hover-color);
}

.pagination {
    margin-top: 20px;
}

.home-content {
    margin-top: 40px;
    text-align: center;
    color: var(--text-color);
}

.home-content h2 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.home-content p {
    color: var(--text-color);
}

.logo-container {
    position: absolute;
    top: -4px;
    left: 4%;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 80px; /* Adjust the height as needed */
  }
  
  .logo {
    width: 180px; /* Adjust the width as needed */
    height: auto; /* Maintains the aspect ratio */
  }
  
  .logo:hover {
    transform: scale(1.05); /* Slightly enlarges the logo on hover */
  }

