.checkout-container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.checkout-container form {
  background-color: white;
}
.place-order {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  margin-top: 100px;
  width: 80%;
}

.place-order-left,
.place-order-right {
  flex: 1;
}

.place-order-left {
  max-width: 450px;
}

.title-place {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

.place-order-left input,
.place-order-left select {
  margin-bottom: 15px;
  width: 95.5%;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  outline-color: #29398e;
}

.same-size-input {
  width: 100%;
}

.multi-fields {
  display: flex;
  gap: 15px;
}

.place-order-right {
  max-width: 400px;
  margin-top: 50px;
}

.cart-total-c {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-total-details-c {
  display: flex;
  justify-content: space-between;
  color: #333;
}

.cart-total-c hr {
  margin: 10px 0px;
}

.cart-total-c button {
  border: none;
  color: white;
  background-color: #4c00b4;
  width: 100%;
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.cart-total-c button:hover {
  background-color: #5c33cc;
}

.payment-method {
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  outline-color: #29398e;
  margin-top: 15px;
}

.error-input-c {
  border: 1px solid red;
}
