.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#2A00B7, #42006C);
}

.reset-form {
    background: white;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 80%;
    height: 310px;
    text-align: center;
}

.reset-form h2 {
    margin-bottom: 1.5rem;
    margin-top: 1.6rem;
    color: #333;
}

.reset-form input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.reset-form button {
    width: 70%;
    padding: 0.75rem;
    border: none;
    border-radius: 6px;
    background-color: #283142;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    margin-bottom: -10px;
}

.reset-form button:hover {
    background-color: #4603a2;
}

.reset-form p {
    margin-top: 1rem;
    color:#28a745;
}

.reset-password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 70%;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
    position: relative; /* Ensure the error message aligns properly */
  }
  
  .reset-password-container input{
    width: 80%; /* Adjust the width to fit the error message layout */
    height: 40px;
    border: none;
    outline: none;
    background: transparent;
    color: #797979;
    font-size: 14px;
    margin: auto;
  }
  
  .reset-password-container svg {
    margin-left: 20px;
    margin-right: 20px;
  }
  .reset-error-message {
    color: red;
    font-size: 14px;
    margin-top: -6px; /* Space between the input and the error message */
    margin-left: 60px; /* Align with the text input */
    margin-bottom: 5px; /* Add space before the next input */
    text-align: left;
}